
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-image: url(images/blackbackground.jpg);
}

a {
    text-decoration: none;

}


li {
    list-style-type: none;
}

section {
    width: 100%;
    height: 1000px;
    background-color: white;
}

.main-header-styling {
    width: 100%;
    height: 70px;

    background-color: black;

    display: flex;
    align-items: center;
    justify-content: space-between;

    /* Position fixed keeps the navigation at the top of the site while scrolling, 
        and top makes it so that the little gap thats formed between the nav and top of the
        screen goes away  */
    position: fixed;
    top: 0;
    z-index: 3;

}



.main-nav-styling {
    width: 65%;
    height: 70px;

    /* background-color: blue; */

    display: flex;
    align-items: center; /* Centers all child elements vertically in container */
    justify-content: flex-end;
}

.header-title-container {

    width: auto;
    height: 60px;

    margin-left: 150px;

    /* background-color: orange; */

    color: white;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    float: left;

}

.header-title {
    letter-spacing: 4px;
    font-weight: 100;
}

.nav-elements-container {

    height: 60px;

    /* background-color: orange; */

    display: flex;
    align-items: center;
    justify-content: flex-end;

    margin-right: 20px;

}

.nav-element-styling {

    width: 100px;
    height: 50px;

     /* background-color: red; */

    display: flex;
    align-items: center;
    justify-content: center;

}

.nav-element-link-styling {

    width: 100px;
    height: 40px;
    
    /* background-color: purple; */
    color: white;

    font-size: 16px;
    letter-spacing: 2px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-element-link-styling:hover {
    font-weight: bolder;
}

.nav-image-container {

    width: 50px;
    height: 50px;

    /* background-color: orange; */

    margin-right: 150px;

    display: flex;
    align-items: center;
    justify-content: center;
}

/* overrides .nav-image-container to make sure the 
   github image container has a different margin
   it takes precedence over .nav-image-container because
   its below it in the stylesheet */
.nav-image-container-github {
    margin-right: 20px;
}


.github-logo {
    width: 40px;
    height: 40px;

}

.github-logo:hover {
    width: 50px;
    height: 50px;
}

.linkedin-logo {
    
    width: 35px;
    height: 35px;
    filter: invert(1) brightness(2); /* inverts the linked in logo color to white and make its a bright white to match the github logo */
}

.linkedin-logo:hover {

    width: 40px;
    height: 40px;
}


@media screen and (max-width: 904px) {

    .nav-elements-container, .nav-element-styling, .nav-element-link-styling {
        display: none;
    }
}
    
.about-section {
    
    background-color: lightgray;

    display: flex;

}

.about-section-left-container {

    width: 50%;
    height: 1000px;

    /*background-color: blueviolet; */

    display: flex;
    flex-direction: column;
}

.about-header {
    width: auto;
    height: auto;

    margin-top: 400px;
    margin-left: 230px;

    color: black;
    /* background-color: aqua; */

    font-size: 100px;
    letter-spacing: 3px;

}

.about-sub-header {

    width: auto;
    height: auto;

    margin-left: 230px;

    color: black;
    /*background-color: blue; */

    font-size: 60px;
    font-weight: 500;
    
}

.about-sub-header-two {

    font-size: 40px;
}

.portfolio-anchor-button {
    width: 200px;
    height: 50px;

    margin-left: 230px;
    margin-top: 30px;

    /* Used to center text in anchor button */
    display: flex;
    align-items: center;
    justify-content: center;

    color: black;
    font-weight: bold;
    font-size: 18px;

    background-color: rgba(0, 187, 6, 0.8);
    border: 1px solid black;
    border-radius: 10px;
}

.portfolio-anchor-button:hover {

    width: 210px;
    height: 55px;

    margin-top: 27.5px;
    background-color: rgba(39, 245, 46, 0.8);
}

.about-section-right-container {

    width: 50%;
    height: 1000px;

    /* background-color: orange; */

}

.about-section-photo-container {

    width: 500px;
    height: 500px;
    background-color: black;

    margin-top: 250px;
    margin-left: 230px;

    border-radius: 50px;

    position: absolute;
    z-index: 1;

}

.about-section-photo-container-two {

    margin-top: 300px;
    margin-left: 180px;

    position: absolute;
    z-index: 0;

}

.about-section-photo {
    width: 500px;
    height: 500px;

    border-radius: 50px;

    object-fit: cover;
}


.portfolio-section {

}

.resume-section {

    background-color: lightgray;
}

.contact-section {

}